body{
    margin: 0;
    background-image: url(timeSquare.avif);
    background-repeat: no-repeat;
    background-position: center;


}
#clck_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#clock{
    font-family: 'Times New Roman', Times, serif;
    font-size: 6.5rem;
    font-weight: bolder;
    text-align: center;
    color: white;
    backdrop-filter: blur(5px);
    width: 100%;
}
h2{
    color: white;
    
    
    padding-left: 600px;
    margin-left:10px;
    width: 250px;
    
}
h1{
    color: white;
    justify-content: center;
  
    padding-left: 600px;
    -webkit-backdrop-filter: saturate(50px);


}